.Sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 150px; /* 사이드바 너비 */
  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.Sidebar-Wrapper {
  padding: 20px 10px;
}

.Sidebar-Menu {
  margin-bottom: 2rem;
}

.SidebarListTitle img {
  width: 90px;
  height: 90px;
  margin-bottom: 100px;
  margin-left: 25px; /* 이미지를 오른쪽으로 이동 */
}

.SidebarListItem img {
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
  margin-left: 35px;
}

@media (max-width: 1024px) and (min-height: 600px) {
  .Sidebar-container {
    width: 50%;
  }
}

/* 반응형 웹페이지 스타일 추가 */
@media (max-width: 1200px) {
  .Sidebar-container {
    width: 120px; /* 사이드바 너비 줄이기 */
  }

  .SidebarListTitle img {
    width: 80px;
    height: 80px;
    margin-left: 11.5px; /* 이미지 위치 조정 */
  }

  .SidebarListItem img {
    width: 40px;
    height: 40px;
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .Sidebar-container {
    width: 100px; /* 사이드바 너비 더 줄이기 */
  }

  .SidebarListTitle img {
    width: 70px;
    height: 70px;
    margin-left: 15px; /* 이미지 위치 조정 */
  }

  .SidebarListItem img {
    width: 35px;
    height: 35px;
    margin-left: 25px;
  }
}

@media (max-width: 480px) {
  .Sidebar-container {
    width: 80px; /* 사이드바 너비 최소화 */
  }

  .SidebarListTitle img {
    width: 60px;
    height: 60px;
    margin-left: 10px; /* 이미지 위치 조정 */
  }

  .SidebarListItem img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }
}
