/* src/MainMenu/Login/Css/LoginButton.css */
.button {
  background-color: #be5e24; /* 기본 버튼 색상 */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
  display: inline-block;
  margin-left: 3px; /* 왼쪽에 여백 추가 */
  margin-top: 10px; /* 위쪽에 여백 추가 */
  width: 80%; /* 너비를 동일하게 설정 */
  box-sizing: border-box; /* 패딩을 포함한 크기 설정 */
}

.button:hover {
  background-color: #824019; /* 호버 시 약간 더 진한 색상 */
  transform: scale(1.05);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(106, 17, 203, 0.5);
}

@media (max-width: 1024px) and (min-height: 600px) {
  .button {
    width: 95%;
    font-size: 13px;
  }
}
