.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #ffffff, #becaef);
  font-family: "Arial", sans-serif;
}

.register-form {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
  backdrop-filter: blur(10px);
}

.register-form h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.register-form div {
  margin-bottom: 20px;
  position: relative;
}

.register-form input {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background: #f9f9f9;
  transition: all 0.3s ease;
  outline: none;
}

.register-form input:focus {
  border-color: #264eff;
  box-shadow: 0 0 8px rgba(106, 17, 203, 0.2);
}

.register-form input::placeholder {
  color: #aaa;
}

.register-form button {
  background-color: #4a81e0;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-left: 3px;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.register-form button:hover {
  background-color: #2575fc;
  transform: translateY(-2px);
}

.register-form button:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(17, 73, 203, 0.5);
}
